@import "src/font/font";
.App {
    color: white;
    margin:20px;
    font-family: Lexend-Regular;
}
textarea{
    border: white 1px solid;
    background: rgba(0, 0, 0, 0.3);
    color:white;
    font-family: Lexend-Regular;
}
input{
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    color: white;
    font-family: Lexend-Regular;
}
button{
    font-family: Lexend-Regular;
    color: white;
    background: rgba(0, 0, 0, 0.4);

}