.blue {
    border: 5px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}
.test{

    margin: 20px 0;
}

.testButton{
    width: 100px;
    height: 20px;
}